.mod_sear_menu {
border: 1px solid #e0e0e0;
padding: 0 20px;
}
.mb30 {
 margin-bottom: 30px;
}
.mt20 {
margin-top: 20px;
}
div, ul, dl {
zoom: 1;
}
body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, th, td, table, label, article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
}
div {
display: block;
}
div:after, ul:after, dl:after {
content: "";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, th, td, table, label, article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}
body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, th, td, table, label, article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}
body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, th, td, table, label, article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}
body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, th, td, table, label, article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}
body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, th, td, table, label, article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
}



.mod_sear_list {
border-bottom: 1px dotted #d5d5d5;
position: relative;
padding: 5px 48px 5px 57px;
height: 25px;
overflow: hidden;
}
.mod_sear_list h3 {
color: #999;
font-size: 12px;
position: absolute;
left: 0;
top: 10px;
font-weight: normal;
}
.mod_category_item {
word-wrap: break-word;
width: 100%;
}
.mod_category_item li {
white-space: nowrap;
float: left;
display: inline;
margin: 0 20px 6px 0;
line-height: 22px;
}
.mod_category_item .selected a {
background: #699f00;
padding: 1px 7px 2px;
color: #fff;
border-radius: 1px;
}
.mod_category_item a {
display: inline-block;
padding: 1px 7px 2px;
}
.zdcontext a {
text-decoration: none;
}