@{
    Layout =null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
     <link href="../../Content/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Css/button.css" rel="stylesheet" type="text/css" />   
    <link href="../../Content/Css/Upload/basic.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Css/Upload/dropzone.css?r=32" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>        
   @*开关按钮引用start *@
    <link href="../../Content/Css/Switch/bootstrap-switch.css" rel="stylesheet" type="text/css" /> 
    <script src="../../Scripts/Switch/bootstrap-switch.js" type="text/javascript"></script>
    <script src="../../Scripts/dropzone.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            debugger

            $(".dropzone").dropzone({
                url: "/FReportMain/Upload",
                addRemoveLinks: true,
                dictRemoveLinks: "x",
                dictCancelUpload: "x",
                maxFiles: 1,
                maxFilesize: 5,
                acceptedFiles: ".xls,.doc,.docx",
                init: function () {
                    this.on("success", function (file) {
                        alert(1);
                        console.log("File " + file.name + "uploaded");
                    });
                    this.on("removedfile", function (file) {
                        alert(2);
                        console.log("File " + file.name + "removed");
                    });
                }
            });
        });
 
        function CloseBack() {
            var urlaccount = '/FReportMain/Grid';
            window.parent.ControlIFrame(urlaccount);

        }

    </script>
      
    
     
</head>
<body style="background: #f6f6f6; border:0px; margin:10px;"> @*background: #f6f6f6;*@
    <div  class="dropzone"></div>
</body>
</html>
