@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>过滤条件测试</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="../../Content/Css/f.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div id="bd-filter" class="bd-filter">
             <div class="bd-filter-header">
                 <div class="bd-other-channels">
	                 	<a class="bd-channel-link" title="全部电影" href="/movie/list/" target="_blank">筛选</a>
			     </div>
             </div>
             <div class="bd-filter-content" id="bd-filter-condition">
            
                <div class="bd-filter-section">
                    <h3 class="bd-filter-title">类型:</h3>
                    <div class="bd-filter-list filter-group" static="s=1602&amp;tn=subtvplay&amp;tpl=subtvplay&amp;bl=type&amp;stp=type">
                        <a data-key="type" data-val="" class="filter-sel " href="#" title="全部"><span>全部</span></a><a data-key="type" data-val="古装" class="filter-sel " href="#" title="古装"><span>古装</span></a><a data-key="type" data-val="战争" class="filter-sel " href="#" title="战争"><span>战争</span></a><a data-key="type" data-val="青春偶像" class="filter-sel " href="#" title="青春偶像"><span>青春偶像</span></a><a data-key="type" data-val="喜剧" class="filter-sel " href="#" title="喜剧"><span>喜剧</span></a><a data-key="type" data-val="家庭伦理" class="filter-sel " href="#" title="家庭伦理"><span>家庭伦理</span></a><a data-key="type" data-val="犯罪" class="filter-sel " href="#" title="犯罪"><span>犯罪</span></a><a data-key="type" data-val="动作" class="filter-sel  filter-sel-active " href="#" title="动作"><span>动作</span></a><a data-key="type" data-val="奇幻" class="filter-sel " href="#" title="奇幻"><span>奇幻</span></a><a data-key="type" data-val="剧情" class="filter-sel " href="#" title="剧情"><span>剧情</span></a><a data-key="type" data-val="历史" class="filter-sel " href="#" title="历史"><span>历史</span></a><a data-key="type" data-val="经典" class="filter-sel " href="#" title="经典"><span>经典</span></a><a data-key="type" data-val="乡村" class="filter-sel " href="#" title="乡村"><span>乡村</span></a><a data-key="type" data-val="情景" class="filter-sel " href="#" title="情景"><span>情景</span></a><a data-key="type" data-val="商战" class="filter-sel " href="#" title="商战"><span>商战</span></a><a data-key="type" data-val="其他" class="filter-sel " href="#" title="其他"><span>其他</span></a>
                    </div>
                </div>
            
                <div class="bd-filter-section">
                    <h3 class="bd-filter-title">地区:</h3>
                    <div class="bd-filter-list filter-group" static="s=1602&amp;tn=subtvplay&amp;tpl=subtvplay&amp;bl=type&amp;stp=area">
                        <a data-key="area" data-val="" class="filter-sel  filter-sel-active " href="#" title="全部"><span>全部</span></a><a data-key="area" data-val="内地" class="filter-sel " href="#" title="内地"><span>内地</span></a><a data-key="area" data-val="韩国" class="filter-sel " href="#" title="韩国"><span>韩国</span></a><a data-key="area" data-val="香港" class="filter-sel " href="#" title="香港"><span>香港</span></a><a data-key="area" data-val="台湾" class="filter-sel " href="#" title="台湾"><span>台湾</span></a><a data-key="area" data-val="日本" class="filter-sel " href="#" title="日本"><span>日本</span></a><a data-key="area" data-val="美国" class="filter-sel " href="#" title="美国"><span>美国</span></a><a data-key="area" data-val="泰国" class="filter-sel " href="#" title="泰国"><span>泰国</span></a><a data-key="area" data-val="英国" class="filter-sel " href="#" title="英国"><span>英国</span></a><a data-key="area" data-val="新加坡" class="filter-sel " href="#" title="新加坡"><span>新加坡</span></a><a data-key="area" data-val="其他" class="filter-sel " href="#" title="其他"><span>其他</span></a>
                    </div>
                </div>
            
                <div class="bd-filter-section">
                    <h3 class="bd-filter-title">年代:</h3>
                    <div class="bd-filter-list filter-group" static="s=1602&amp;tn=subtvplay&amp;tpl=subtvplay&amp;bl=type&amp;stp=start">
                        <a data-key="start" data-val="" class="filter-sel  filter-sel-active " href="#" title="全部"><span>全部</span></a><a data-key="start" data-val="2014" class="filter-sel " href="#" title="2014"><span>2014</span></a><a data-key="start" data-val="2013" class="filter-sel " href="#" title="2013"><span>2013</span></a><a data-key="start" data-val="2012" class="filter-sel " href="#" title="2012"><span>2012</span></a><a data-key="start" data-val="2011" class="filter-sel " href="#" title="2011"><span>2011</span></a><a data-key="start" data-val="2010" class="filter-sel " href="#" title="2010"><span>2010</span></a><a data-key="start" data-val="2009" class="filter-sel " href="#" title="2009"><span>2009</span></a><a data-key="start" data-val="2008" class="filter-sel " href="#" title="2008"><span>2008</span></a><a data-key="start" data-val="2007" class="filter-sel " href="#" title="2007"><span>2007</span></a><a data-key="start" data-val="2006" class="filter-sel " href="#" title="2006"><span>2006</span></a><a data-key="start" data-val="2005" class="filter-sel " href="#" title="2005"><span>2005</span></a><a data-key="start" data-val="2005之前" class="filter-sel " href="#" title="2005之前"><span>2005之前</span></a>
                    </div>
                </div>
            
                <div class="bd-filter-section">
                    <h3 class="bd-filter-title">演员:</h3>
                    <div class="bd-filter-list filter-group" static="s=1602&amp;tn=subtvplay&amp;tpl=subtvplay&amp;bl=type&amp;stp=actor">
                        <a data-key="actor" data-val="" class="filter-sel  filter-sel-active " href="#" title="全部"><span>全部</span></a><a data-key="actor" data-val="杨幂" class="filter-sel " href="#" title="杨幂"><span>杨幂</span></a><a data-key="actor" data-val="霍建华" class="filter-sel " href="#" title="霍建华"><span>霍建华</span></a><a data-key="actor" data-val="刘亦菲" class="filter-sel " href="#" title="刘亦菲"><span>刘亦菲</span></a><a data-key="actor" data-val="范冰冰" class="filter-sel " href="#" title="范冰冰"><span>范冰冰</span></a><a data-key="actor" data-val="王珞丹" class="filter-sel " href="#" title="王珞丹"><span>王珞丹</span></a><a data-key="actor" data-val="黄晓明" class="filter-sel " href="#" title="黄晓明"><span>黄晓明</span></a><a data-key="actor" data-val="陈乔恩" class="filter-sel " href="#" title="陈乔恩"><span>陈乔恩</span></a><a data-key="actor" data-val="林依晨" class="filter-sel " href="#" title="林依晨"><span>林依晨</span></a><a data-key="actor" data-val="言承旭" class="filter-sel " href="#" title="言承旭"><span>言承旭</span></a><a data-key="actor" data-val="安以轩" class="filter-sel " href="#" title="安以轩"><span>安以轩</span></a><a data-key="actor" data-val="郑元畅" class="filter-sel " href="#" title="郑元畅"><span>郑元畅</span></a><a data-key="actor" data-val="林心如" class="filter-sel " href="#" title="林心如"><span>林心如</span></a><a data-key="actor" data-val="贺军翔" class="filter-sel " href="#" title="贺军翔"><span>贺军翔</span></a><a data-key="actor" data-val="贾静雯" class="filter-sel " href="#" title="贾静雯"><span>贾静雯</span></a><a data-key="actor" data-val="赵薇" class="filter-sel " href="#" title="赵薇"><span>赵薇</span></a><a data-key="actor" data-val="明道" class="filter-sel " href="#" title="明道"><span>明道</span></a><a data-key="actor" data-val="吴尊" class="filter-sel " href="#" title="吴尊"><span>吴尊</span></a><a data-key="actor" data-val="胡歌" class="filter-sel " href="#" title="胡歌"><span>胡歌</span></a><a data-key="actor" data-val="周渝民" class="filter-sel " href="#" title="周渝民"><span>周渝民</span></a><a data-key="actor" data-val="小沈阳" class="filter-sel " href="#" title="小沈阳"><span>小沈阳</span></a><a data-key="actor" data-val="赵本山" class="filter-sel " href="#" title="赵本山"><span>赵本山</span></a><a data-key="actor" data-val="孙俪" class="filter-sel " href="#" title="孙俪"><span>孙俪</span></a><a data-key="actor" data-val="张卫健" class="filter-sel " href="#" title="张卫健"><span>张卫健</span></a><a data-key="actor" data-val="欧阳震华" class="filter-sel " href="#" title="欧阳震华"><span>欧阳震华</span></a><a data-key="actor" data-val="张涵予" class="filter-sel " href="#" title="张涵予"><span>张涵予</span></a><a data-key="actor" data-val="杨丞琳" class="filter-sel " href="#" title="杨丞琳"><span>杨丞琳</span></a><a data-key="actor" data-val="佟大为" class="filter-sel " href="#" title="佟大为"><span>佟大为</span></a><a data-key="actor" data-val="海清" class="filter-sel " href="#" title="海清"><span>海清</span></a><a data-key="actor" data-val="佘诗曼" class="filter-sel " href="#" title="佘诗曼"><span>佘诗曼</span></a><a data-key="actor" data-val="徐熙媛" class="filter-sel " href="#" title="徐熙媛"><span>徐熙媛</span></a>
                    </div>
                </div>
            
                <div class="bd-filter-section">
                    <h3 class="bd-filter-title">资源:</h3>
                    <div class="bd-filter-list filter-group" static="s=1602&amp;tn=subtvplay&amp;tpl=subtvplay&amp;bl=type&amp;stp=utype">
                        <a data-key="utype" data-val="" class="filter-sel  filter-sel-active " href="#" title="全部"><span>全部</span></a><a data-key="utype" data-val="VIP无广告" class="filter-sel " href="#" title="VIP无广告"><span>VIP无广告</span></a>
                    </div>
                </div>
            
    </div>
         </div>
</body>
</html>
