@{
    Layout = "../Master/_CheckSession.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>微信第一表</title>
    <link href="../../Content/Css/public.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Css/layer.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../Scripts/layer.js" type="text/javascript"></script>
    <style type="text/css">
         p a:hover, a:focus {
        color:Blue;
        }
    </style>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.column li').bind('click', function () {
                $(".column li").removeClass("column5");
                var c = $(this).attr('controll');
                $(this).addClass("column5");
                $("#childiframe").attr("src", c);
            })
            $("#logout").bind("click", function (e) {
                $.LogOut(e);
            });
            $("#companyName").bind("click", function (e) {
                $(".column li").removeClass("column5");
                var url = $(e.target).attr("action");
                var id = $(e.target).attr("companyId");
                url = AddParams("Id", id, url);
                ControlIFrame(url);
            });
        });
        window.ControlIFrame = function (url) {
            $("#childiframe").attr("src", url);
        };
        //退出
        $.LogOut = function (e) {           

            var url = $(e.target).attr("action");
            //if (confirm("确定要退出系统吗？")) {
                $.ajax({
                    url: url,
                    data: {},
                    dataType: "json",
                    type: "POST",
                    success: function (data) {

                        if (data != null) {
                            if (data.result == 0) {
                                window.location.href = "/Logon/Index";
                            }
                            else {
                                layer.msg("退出失败！");
                            }
                        }
                    },
                    error: function () {

                        layer.msg("退出失败！");
                    }
                });
          // };
           
        }

        function AddParams(name, val, url) {
            var char = url.indexOf('?') >= 0 ? "&" : "?"
            return url + char + name + "=" + val;
        };
    </script>
    
</head>
<body>
<div class="manage">
    <div class="manage_l">
        <div class="w_logo">  <img src="../../Content/Img/manage_01.png" /></div>
        <div class="userface" style="display:none;"><img src="../../Content/Img/userface.png"></div>
        <p class="username">
        <span class="username2">
        <a href="#" action="/CompanyAccount/model" companyId="@ViewData["Id"]" id="companyName">@ViewData["Name"]</a>
        </span> | 
        <span class="username2"> @* ViewData["Name"]*@
        <a href="#" action="/Logon/LogOut" id="logout">退出</a>
        </span></p>
        <div class="column">
            <ul>
                <li class="column1 column5" controll="/FReportMain/Grid"><a href="#" onclick="return false;" >报表发布</a></li>
                <li class="column2 "  controll="/FReportUserAttention/Index"><a href="#"  onclick="return false;">绑定管理</a></li>
            </ul>
        </div>
    </div>
 <!--   <div class="manage_r">-->
    <iframe id="childiframe" src="/FReportMain/Grid"  class="manage_r" style="border:0px;"></iframe>
<!--</div>-->
</div>

</body>
</html>
